extends layout

block content
  div(data-ng-controller="PollController")
    div.center-block
      h2 Before
      form.form-horizontal
        div.form-group
          label.col-sm-2.control-label(for='before1') Option 1
          div.input-group.col-sm-2
            div.input-group-addon
              button(ng-click='subtractBefore1()')
                span.glyphicon.glyphicon-minus(aria-hidden='true')
            input.form-control(name='before1', ng-model='before1', ng-change='beforeChanged(1)')
            div.input-group-addon
              button(ng-click='addBefore1()')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
        div.form-group
          label.col-sm-2.control-label(for='before2') Option 2
          div.input-group.col-sm-2
            div.input-group-addon
              button(ng-click='subtractBefore2()')
                span.glyphicon.glyphicon-minus(aria-hidden='true')
            input.form-control(name='before2', ng-model='before2', ng-change='beforeChanged(2)')
            div.input-group-addon
              button(ng-click='addBefore2()')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
        div.form-group
          label.col-sm-2.control-label(for='before3') Option 3
          div.input-group.col-sm-2
            div.input-group-addon
              button(ng-click='subtractBefore3()')
                span.glyphicon.glyphicon-minus(aria-hidden='true')
            input.form-control(name='before3', ng-model='before3', ng-change='beforeChanged(3)')
            div.input-group-addon
              button(ng-click='addBefore3()')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
    div
      highchart(id='chart1', config='chartConfig')
    div.center-block
      h2 After
      form.form-horizontal
        div.form-group
          label.col-sm-2.control-label(for='after1') Option 1
          div.input-group.col-sm-2
            div.input-group-addon
              button(ng-click='subtractAfter1()')
                span.glyphicon.glyphicon-minus(aria-hidden='true')
            input.form-control(name='after1', ng-model='after1', ng-change='afterChanged(1)')
            div.input-group-addon
              button(ng-click='addAfter1()')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
        div.form-group
          label.col-sm-2.control-label(for='after2') Option 2
          div.input-group.col-sm-2
            div.input-group-addon
              button(ng-click='subtractAfter2()')
                span.glyphicon.glyphicon-minus(aria-hidden='true')
            input.form-control(name='after2', ng-model='after2', ng-change='afterChanged(2)')
            div.input-group-addon
              button(ng-click='addAfter2()')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
        div.form-group
          label.col-sm-2.control-label(for='after3') Option 3
          div.input-group.col-sm-2
            div.input-group-addon
              button(ng-click='subtractAfter3()')
                span.glyphicon.glyphicon-minus(aria-hidden='true')
            input.form-control(name='after3', ng-model='after3', ng-change='afterChanged(3)')
            div.input-group-addon
              button(ng-click='addAfter3()')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
